.slider-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.slide {
    display: none;
    width: 100%;
}
.slide img {
    width: 100%;
    height: 35%;
    object-fit: cover;

}

h1 {
    text-align: center;
}

li{
    list-style-type: none;
}
.topbar {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 50px;
    border: 1px solid #000;
}

.logo {
    font-size: 150%;
    margin-left: 30px;
}

.button button {
    margin-left: 10px;
    cursor: pointer;
    border: 0;
    font-size: 100%;
    margin-right: 50px;
}

.searchbar input {
    justify-content: center;
    width: 600px;
    height: 40px;
    font-size: 110%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: linear-gradient(to right, #5f5f5f, rgb(69, 69, 69));
    color: white;
}


.menuDiv {
    text-align: center;
    font-size: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.menuDiv h2 {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
}

.recipe {
    flex: 0 0 calc(20% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.menuImg {
    width: 100%;
    border-radius: 10px;
    border: 1px solid;
}

.menuTitle {
    width: 100%;
    text-align: center;
}

.menu{
    width: 200px;
    height: 200px;
    background-color: #f2f2f2;
    border: 1px solid;
    display: inline-block;
    margin-right: 30px;
    border-radius: 20px;
}
.searchbar{
    text-align: center;
}
.searchbar button {
    backface-visibility: hidden;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    border-color: #111;
    color: white;
    background: linear-gradient(180deg,#555 0%,#222 49%, #000 51%,#222 100%);
    border-radius: 5px;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,.5),0px 1px 3px rgba(0,0,0,0.3);
}
.searchbar button:active{
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
}

.recipe_container {
    width: 80%;
    margin: 0 auto;
    background-color: #ffffff;
    border: 2px solid #cccccc;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.home_button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f9f9f9;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.home_button:hover {
    background-color: black;
}

.recipe_header {
    /*text-align: center;*/
    /*background-color: #f9f9f9;*/
    /*padding: 20px;*/
    /*margin-bottom: 20px;*/
    /*border: 1px solid #ccc;*/
}

.recipe_img {
    /*width: 100%;*/
    /*border-radius: 10px;*/
    /*border: 1px solid;*/
    text-align: center;
}

.recipe_img img {
    height: auto;
    width: 60%;
    border-radius: 10px;
    border: 1px solid;
    text-align: center;
}

.recipe_ingredients {
    width: 50%;
    vertical-align: top;
    text-align: center;
}
.recipe_ingredients h2{

    text-align: center;
}
.recipe_table td h2 {
    text-align: center;
}

.recipe_table td {
    vertical-align: top;
}
.recipe_table {
    width: 100%;
    border: #111111;
}

.nutrition h2{
    text-align: center;
}


#category {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #c2f0a2;
}

#category a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 23px;
    margin: 0 10px;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

#category a:hover {
    background-color: #edfae5; /* 호버시 배경색 */
    color: #498929; /* 호버시 글씨 색상 */
}